{{ $author := site.Data.author }}

{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

{{ $name := "Jane Doe" }}

{{ if $author.nickname }}
  {{ $name = $author.nickname }}
{{ else if $author.name }}
  {{ $name = $author.name }}
{{ end }}

{{ $sections := site.Data.sections }}

{{ if (index site.Data site.Language.Lang).sections }}
  {{ $sections = (index site.Data site.Language.Lang).sections }}
{{ end }}

{{ $authorImage := "/images/default-avatar.png" }}

{{ if $author.image }}
  {{ $authorImage = $author.image }}
{{ end }}

{{ $authorImage := resources.Get $authorImage }}

{{/* apply image processing. don't use "Fit" in SVG or GIF because it's not supported */}}
{{ if and $authorImage (and (ne $authorImage.MediaType.SubType "svg") (ne $authorImage.MediaType.SubType "gif")) }}
  {{ $authorImage = $authorImage.Fit "148x148" }}
{{ end }}

{{ $backgroundVideo := "assets/images/site/bg.mp4" }} <!-- Replace with your background video file path -->
{{ $videoSrc := resources.Get $backgroundVideo }}

{{ $videoURL := "" }}
{{ if $videoSrc }}
  {{ $videoURL = $videoSrc.RelPermalink }}
{{ end }}

<div class="container-fluid home" id="home">
  {{ if $videoURL }}
    <video autoplay loop muted playsinline class="background-video">
      <source src="{{ $videoURL }}" type="video/mp4">
    </video>
  {{ end }}
  <div class="container content text-center">
    <img src="{{ $authorImage.RelPermalink }}" class="rounded-circle mx-auto d-block img-fluid" alt="Author Image" />
    <h1 class="greeting">{{ $author.greeting }} {{ $name }}</h1>
    {{ if $author.subtitle }}
      <h2 class="greeting-subtitle">{{ $author.subtitle }}</h2>
    {{ end }}
    <div class="typing-carousel">
      <span id="ityped" class="ityped"></span>
      <span class="ityped-cursor"></span>
    </div>
    <ul id="typing-carousel-data">
      {{ if $author.summary }}
        {{ range $author.summary }}
          <li>{{ . }}</li>
        {{ end }}
      {{ end }}
    </ul>
    {{ if $sections }}
      {{ range first 1 (where (sort $sections "section.weight") ".section.enable" true) }}
        {{ $sectionID := replace (lower .section.name) " " "-" }}
        {{ if .section.id }}
          {{ $sectionID = .section.id }}
        {{ end }}
        <a href="#{{ $sectionID }}" class="arrow-center" aria-label="{{ i18n "read" }} {{ i18n "more" }} - {{ $name }}"><i class="arrow bounce fa fa-chevron-down"></i></a>
      {{ end }}
    {{ end }}
  </div>
</div>
